@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

body {
  color: #000;
  background: #fff;
}

input, textarea, select {
  color: #000 !important;
  background-color: #fff !important;
}

input::placeholder, textarea::placeholder {
  color: #666 !important;
}
